auto-install-peers=false
strict-peer-dependencies=false

; --------------------------------------------
; Registries

@streamfinity:registry=https://npm.pkg.github.com

; --------------------------------------------
; Authentication

//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
